<svg width="1000px" height="500px">
        <svg *ngFor="let figure of figures" [ngSwitch]="figure.type">
        <ng-template ngSwitchCase="rect">
                <rect [attr.x]="figure.coordinates?.x" 
                [attr.y]="figure.coordinates?.y" 
                [attr.width]="figure.width"
                [attr.height]="figure.height" />
        </ng-template>
        <ng-template ngSwitchCase="polygon">
        
        </ng-template>
        <ng-template ngSwitchCase="circle">
                <circle [attr.cx]="figure.coordinates?.x"
                [attr.cy]="figure.coordinates?.y"
                [attr.r]="figure.r"/>
        </ng-template>
        <ng-template ngSwitchCase="ellipse">
        
        </ng-template>
        <ng-template ngSwitchCase="polyline">
        
        </ng-template>
        <ng-template ngSwitchCase="text">
        
        </ng-template>
        </svg>
</svg>
