<div class="manager-window">
        <div class="first-line">
                <h4>Add figure </h4>
                <div class="form-group">
                        <label>Type of a figure: </label>
                        <select class="form-control" name="type" [(ngModel)]="type">
                                <option *ngFor="let type of types">
                                        {{type}}
                                </option>
                        </select>
                </div>
        </div>
        <div class="second-line" [ngSwitch]="type">
                <div class="rect-line" *ngSwitchCase="'rect'">
                        <div class="form-group labels">
                                <label>X </label>
                                <input type="number" class="form-control" name="xCoord" [(ngModel)]="xCoord" />
                        </div>
                        <div class="form-group labels">
                                <label>Y </label>
                                <input type="number" class="form-control" name="yCoord" [(ngModel)]="yCoord" />
                        </div>
                        <div class="form-group labels">
                                <label>Width </label>
                                <input type="number" class="form-control" name="width" [(ngModel)]="width" />
                        </div>
                        <div class="form-group labels">
                                <label>Height </label>
                                <input type="number" class="form-control" name="height" [(ngModel)]="height" />
                        </div>
                        <div class="form-group labels">
                                <label>Fill </label>
                                <input type="string" class="form-control" name="fill" [(ngModel)]="fill" />
                        </div>
                        <div class="form-group labels">
                                <label>Stroke </label>
                                <input type="string" class="form-control" name="stroke" [(ngModel)]="stroke" />
                        </div>
                        <div class="form-group">
                                <button class="submit" (click)="addFigure()">Submit</button>
                        </div>
                </div>
                <div class="circle-line" *ngSwitchCase="'circle'">
                        <div class="form-group labels">
                                <label>Cx </label>
                                <input type="number" class="form-control" name="xCoord" [(ngModel)]="xCoord" />
                        </div>
                        <div class="form-group labels">
                                <label>Cy </label>
                                <input type="number" class="form-control" name="yCoord" [(ngModel)]="yCoord" />
                        </div>
                        <div class="form-group labels">
                                <label>Radius </label>
                                <input type="number" class="form-control" name="radiusC" [(ngModel)]="radiusC" />
                        </div>
                        <div class="form-group labels">
                                <label>Fill </label>
                                <input type="string" class="form-control" name="fill" [(ngModel)]="fill" />
                        </div>
                        <div class="form-group labels">
                                <label>Stroke </label>
                                <input type="string" class="form-control" name="stroke" [(ngModel)]="stroke" />
                        </div>
                        <div class="form-group">
                                <button class="submit" (click)="addFigure()">Submit</button>
                        </div>
                </div>
                <div class="ellipse-line" *ngSwitchCase="'ellipse'">
                        <div class="form-group labels">
                                <label>Cx </label>
                                <input type="number" class="form-control" name="xCoord" [(ngModel)]="xCoord" />
                        </div>
                        <div class="form-group labels">
                                <label>Cy </label>
                                <input type="number" class="form-control" name="yCoord" [(ngModel)]="yCoord" />
                        </div>
                        <div class="form-group labels">
                                <label>Rx </label>
                                <input type="number" class="form-control" name="radiusX" [(ngModel)]="radiusX" />
                        </div>
                        <div class="form-group labels">
                                <label>Ry </label>
                                <input type="number" class="form-control" name="radiusY" [(ngModel)]="radiusY" />
                        </div>
                        <div class="form-group">
                                <button class="submit" (click)="addFigure()">Submit</button>
                        </div>
                </div>
                <div class="polygon-line" *ngSwitchCase="'polygon'">
                        <div class="form-group labels">
                                <label>Points </label>
                                <input type="string" class="form-control" name="points" [(ngModel)]="points" />
                        </div>
                        <div class="form-group labels">
                                <label>Fill </label>
                                <input type="string" class="form-control" name="fill" [(ngModel)]="fill" />
                        </div>
                        <div class="form-group labels">
                                <label>Stroke </label>
                                <input type="string" class="form-control" name="stroke" [(ngModel)]="stroke" />
                        </div>
                        <div class="form-group">
                                <button class="submit" (click)="addFigure()">Submit</button>
                        </div>
                </div>
                <div class="polyline-line" *ngSwitchCase="'polyline'">
                        <div class="form-group labels">
                                <label>Points </label>
                                <input type="string" class="form-control" name="points" [(ngModel)]="points" />
                        </div>
                        <div class="form-group labels">
                                <label>Fill </label>
                                <input type="string" class="form-control" name="fill" [(ngModel)]="fill" />
                        </div>
                        <div class="form-group labels">
                                <label>Stroke </label>
                                <input type="string" class="form-control" name="stroke" [(ngModel)]="stroke" />
                        </div>
                        <div class="form-group">
                                <button class="submit" (click)="addFigure()">Submit</button>
                        </div>
                </div>
                <div class="text-line" *ngSwitchCase="'text'">
                        <div class="form-group labels">
                                <label>X </label>
                                <input type="number" class="form-control" name="xCoord" [(ngModel)]="xCoord" />
                        </div>
                        <div class="form-group labels">
                                <label>Y </label>
                                <input type="number" class="form-control" name="yCoord" [(ngModel)]="yCoord" />
                        </div>
                        <div class="form-group labels">
                                <label>Text </label>
                                <input type="string" class="form-control" name="text" [(ngModel)]="text" />
                        </div>
                        <div class="form-group labels">
                                <label>Fill </label>
                                <input type="string" class="form-control" name="fill" [(ngModel)]="fill" />
                        </div>
                        <div class="form-group">
                                <button class="submit" (click)="addFigure()">Submit</button>
                        </div>
                </div>
        </div>
</div>

<div class="svg-outline">
        <svg width="800px" height="500px">
        
                <svg *ngFor="let figure of figures" [ngSwitch]="figure.type">
        
                        <rect *ngSwitchCase="'rect'" [attr.x]="figure.coordinates?.x" [attr.y]="figure.coordinates?.y"
                                [attr.width]="figure.width" [attr.height]="figure.height" [attr.fill]="figure.fill"
                                (click)="changeColor(figure)" />
        
        
                        <circle *ngSwitchCase="'circle'" [attr.cx]="figure.coordinates?.x" [attr.cy]="figure.coordinates?.y"
                                [attr.r]="figure.r" [attr.fill]="figure.fill" (click)="changeColor(figure)" />
        
                        <ellipse *ngSwitchCase="'ellipse'" [attr.cx]="figure.coordinates?.x" [attr.cy]="figure.coordinates?.y"
                                [attr.rx]="figure.rx" [attr.ry]="figure.ry" [attr.fill]="figure.fill"
                                (click)="changeColor(figure)" />
        
                        <text *ngSwitchCase="'text'" [attr.x]="figure.coordinates?.x" [attr.y]="figure.coordinates?.y"
                                [attr.fill]="figure.fill"
                                (click)="changeColor(figure);textChange(figure)">{{figure.text}}</text>
        
                        <polygon *ngSwitchCase="'polygon'" [attr.points]="figure.points" [attr.stroke]="figure.stroke"
                                [attr.fill]="figure.fill" (click)="changeColor(figure)" />
        
                        <polyline *ngSwitchCase="'polyline'" [attr.points]="figure.points" [attr.stroke]="figure.stroke"
                                [attr.fill]="figure.fill" />
        
                </svg>
        
        </svg>
</div>


